body {
    background-color: #F0F0F0;
}

/* clearfix */
.proposition:after {
    content: "";
    display: table;
    clear: both;
  }

.proposition {
    margin-bottom: 3rem;
    background-color: white;
    box-shadow: #808080 0 0 5px;
    padding: 10px;
    padding-left: 20px;
}

.proposition h3, .proposition p, .proposition ol {
    margin-top: 0;
    margin-bottom: 5px;
}

.proposition img {
    float: left;
    width: 30vw;
    max-height: 65vh;
    margin-right: 3rem;
    object-fit: scale-down;
    padding: 20px;
}

footer {
    text-align: center;
}